body {
    background-image: url("tessellation.jpg");
    background-color: #212121;
}

.header {
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Optima", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
    text-decoration: none; 
    color: #304EBB;
}

a:hover {
    text-decoration: underline;
}

.half-width {
    padding: 1em;
    background-color: #FCF4DC;
    width: 555px;
    margin: auto;
    border-radius: 0.25em;
    text-align: justify;
    font-family: "Palatino Linotype", Palatino, serif;
}

li p {
    margin-top: 0em;
    padding-left: 2em;
}

.places img {
    height: 1.3em;
    width: 1.3em;
}

.places {
    text-align: center;
}

.places a {
    color: white;
    background-color: #212121;
    border-radius: 3px;
    padding-top: 11px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 1em;
    margin-right: 1em;
}

.places a:hover {
    text-decoration: none;
    background-color: #676767;
}

.places a span {
    position: relative;
    bottom: 4px;
}

ul {
    margin-top: 0px;
    text-align: left;
}

li {
    margin-top: 1px;
    margin-bottom: 1px;
}

.multipleColumns td {
    width: 50%;
    vertical-align: top;
}

.footer > * {
    text-align: center;
    font-size: 11px;
    margin-bottom: 0px;
}
