/***************************************/
/* define the general look of the site */

body {
    background-image: url("pictures/tessellation.jpg");
    background-color: #212121;
    text-align: justify;
    font-family: "Palatino Linotype", Palatino, serif;
}

h1, h2, h3, h4, h5, h6, .big {
    font-family: "Optima", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
}

a {
    text-decoration: none; 
    color: #304EBB;
}

a:hover {
    text-decoration: underline;
}

.rounded {
    border-radius: 3px;
}

.spinny:hover {
    transition: all 1.2s ease-out;
    transform: rotate(7deg);
}

/************************************/
/* the blocks that make up the body */

body > div {
    padding: 1em;
    background-color: #FCF4DC;
    width: 555px;
    margin: auto;
    border-radius: 0.5em;
    margin-bottom: 16px;
}

body > div > *:first-child {
    margin-top: 4px;
}

body > div > *:last-child {
    margin-bottom: 8px;
}


/****************/
/* header style */

.header {
    text-align: center;
    background: linear-gradient(#CDBC84, #FCF4DC);
}

.header .big {
    font-size: 76px;
    margin: -28px;
    margin-bottom: 16px; 
}

.header .big img {
    position: relative;
    top: 16px;
    height: 76px;
}


/****************/
/* footer style */

.footer > * {
    text-align: center;
    font-size: 11px;
}

.footer > *:first-child {
    margin-top: 0px;
}

.footer > *:last-child {
    margin-bottom: 0px;
}


/*************************************************/
/* the class "places" is for links in the header */

.places {
    margin-bottom: 0px;
}

.places img {
    height: 21px;
    width: 21px;
}

.places a {
    color: black;
    background-color: #E1D7B7;
    border-radius: 3px;
    padding-top: 12px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.places a:hover {
    text-decoration: none;
    background-color: #CCC6B1;
    box-shadow: -2px 3px rgba(0,0,0,0.5);
}

.places a span {
    position: relative;
    bottom: 4px;
}


/***************************************************************/
/* text can flow around images and they enlarge on mouse hover */

.float-right {
    float: right;
    margin-left: 1em;
}

.float-left {
    float: left;
    margin-right: 1em;
}

.float-right, .float-left, li img {
    height: 4.5em;
    transition: all 0.25s linear;
}

.float-right:hover, .float-left:hover, li img:hover {
    transform: scale(1.25,1.25);
}


/*******************/
/* list formatting */

ul {
    margin-top: 0px;
    text-align: left;
}

li {
    margin-top: 1px;
    margin-bottom: 1px;
}

li p {
    margin-top: 0em;
    padding-left: 2em;
}

li img {
    float: right;
    height: 2.33em;
    background-color: white;
    padding: 1px;
    border: 1px solid #212121;
    border-radius: 3px;
    margin-left: 0.5em;
}

.multipleColumns td {
    width: 50%;
    vertical-align: top;
}
