body * {
  font-family: Palatino, serif !important;
}

#hero {
  background: url(images/banner.jpg) no-repeat left top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

#hero h1, #hero h2, #hero h3, #hero h4, #hero h5, #hero h6 {
  color: #000;
}

#hero img {
  border-radius: 9999px;
  width: 166px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#name {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  color: #000;
  font-weight: 300;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.title {
  font-variant: small-caps;
}

.subtitle {
  font-style: italic;
}

#resume {
  height: 50vh;
  background-color: #000;
}

#projects {
  height: 50vh;
  background-color: #262a30;
}

#contact {
  height: 50vh;
  background-color: #000;
}

#footer {
  background: #262a30;
  padding: 50px;
  border-top: 1px solid #000;
  color: #999;
}
